<h3>Introducing Wikidata</h3>
<p>Wiki and data, its name already tells us a lot! Word for word, Wikidata is a site that allows to organize data with the collaborative technology "wiki". Data is organized in a standardized way in order to describe a topic in all its dimensions.</p>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Wikidata-logo-en.svg" alt="Logo de Wikidata" style="display: block; margin-left: auto; margin-right: auto;" width="470" height="332" /></p>
<p style="text-align: center;"><em style="font-size: 14.4px; text-align: center;">Fig. 1. Wikidata logo</em></p>
<div style="text-align: center;"><span gt="" style="font-size: 0.6em;"><a href="https://commons.wikimedia.org/wiki/File:Wikidata-logo-en.svg" target="[object Object]">CC-by-SA</a> Planemad / <a href="https://upload.wikimedia.org/wikipedia/commons/6/66/Wikidata-logo-en.svg" target="_blank" rel="noopener">enlarge</a></span></div>
<div style="text-align: center;"></div>
<p style="text-align: right;"></p>
<div id="gtx-trans" style="position: absolute; left: 1130px; top: 55.2344px;">
<div class="gtx-trans-icon"></div>
</div>