<article class="xblock-render" lang="en">
<div class="xblock xblock-student_view xblock-student_view-html xmodule_display xmodule_HtmlBlock xblock-initialized" data-init="XBlockToXModuleShim" data-runtime-class="PreviewRuntime" data-runtime-version="1" data-block-type="html" data-usage-id="block-v1:MOOC-FLOSS+101+dev+type@html+block@b7c68453bf9346ea8c1a93556a7b394b" data-request-token="8f60b062b39b11edad38afb5da137b06" data-graded="False" data-has-score="False">
<h3>Project Assessment</h3>
<p>Based on the the outcome of your interactions, as well as the information gathered so far, we'll start evaluating if the project looks like a good fit.</p>
</div>
</article>
<p></p>