<div class="flex-container">
<div class="side-text">
<p>Wikis are in a sense the equivalent of what you experienced during the previous activity but for grouping information about a topic. Wikis are website designed to organize a base of knowledge utilizing the power of collaborative work : every user can submit a revision to improve a page, the same way every player could improve builds on the Minetest server. One of the most famous Wikis is of course Wikipedia, which uses the concept of Wiki to manage an encyclopedia. But for the purpose of this activity, we will focus on another wiki, <a href="https://www.wikidata.org/" target="_blank" rel="noopener">Wikidata</a>.</p>
</div>
<div class="figure-and-caption"><img width="380" src="/static/ch_04-wikidata_co-writing_book.svg" alt="Four penguin arms co-writing a book." /></div>
</div>