<p>The next module will delve more deeply into how people communicate, but to get you started, here are the basics:</p>
<p><em>People in a community have communication channels to coordinate.</em></p>
<p>Depending on the openness of the actors, some channels can be more open than others (e.g. companies can have internal slack channels about the future of a project, that you'll never see if you're not from there). In general, most welcoming project have their channels <strong>public</strong>.</p>
<p>Discussions can be <em>synchronous</em> or <em>asynchronous</em>. Synchronous channels can be IRC channels, or web-based platforms like Zulip, Rocket.chat, Matrix, Mattermost, etc. Levels of activity there will vary based on the project size and the time zones of active people in the project: if they are volunteers you can have to wait for hours if you ask a question there. Asynchronous channels can be forums or mailing lists, for instance, and while the usual response time is longer, those typically have archives you can browse.</p>
<p>The amount of reaction (and delay in getting it) is also related to the way questions are asked, or the way contributions are presented. Communicating it better, being more aware of the maintainers concerns and facilitating their tasks are ways to get more and faster answers.</p>