<h3>Switching project</h3>
<p>If the assessment has one or more low scores &lt; 3, it's worth considering to find another project - and now is a good opportunity to switch. If you haven't been able to get the simple changes and contributions so far acknowledged and accepted, it will be even harder to achieve this with larger code contributions, which would be the next step. Go back to the <a href="/jump_to_id/4f337d3507374bc5a7fff92d1b1a3da7">section about choosing a project</a>, and pick a different one. Then redo the <a href="/jump_to_id/chap-03-seq-06-ver-01">"Project tips" sections of modules 2</a> &amp; <a href="/jump_to_id/chap-04-seq-05-ver-01">of module 3</a>, until the recap of your contributions to that project show good results, and the acceptance of your contributions to that project.</p>
<p>If some your contributions have been accepted and the project scores only 3's &amp; above, congratulations! You're now ready to go to the next stage. : )</p>
<p></p>