<p>Resources if you want to go further:</p>
<p> <a href="https://en.wikipedia.org/wiki/Fork_and_pull_model" target="[object Object]">https://en.wikipedia.org/wiki/Fork_and_pull_model</a>  </p>
<p><a href="https://en.wikipedia.org/wiki/Distributed_version_control#Pull_requests" target="[object Object]">https://en.wikipedia.org/wiki/Distributed_version_control#Pull_requests</a>    </p>
<p><a href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/getting-started/about-collaborative-development-models" target="[object Object]">https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/getting-started/about-collaborative-development-models</a></p>
<p><a href="https://en.wikipedia.org/wiki/Git#Conventions" target="[object Object]">https://en.wikipedia.org/wiki/Git#Conventions</a></p>
<p><a href="https://opensource.stackexchange.com/questions/352/what-exactly-is-a-pull-request" target="[object Object]">https://opensource.stackexchange.com/questions/352/what-exactly-is-a-pull-request</a>  </p>
<p><a href="https://stackoverflow.com/questions/22199432/pull-request-vs-merge-request" target="[object Object]">https://stackoverflow.com/questions/22199432/pull-request-vs-merge-request</a></p>
<p><a href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests" target="[object Object]">https://docs.github.com/en/pull-requests/collaborating-with-pull-requests</a> </p>
<p><a href="https://docs.gitlab.com/ee/user/project/merge_requests/" target="[object Object]">https://docs.gitlab.com/ee/user/project/merge_requests/</a> </p>
<p></p>