<h3>Is any data appropriate for Wikidata?</h3>
<p>Wikidata <strong>only contains secondary data</strong>. The difference between primary and secondary data is that primary data is collected directly, while secondary data is collected from other databases and external documents. By recording only secondary data among the statements, with their sources and connections and links to other databases, it is possible to verify the source of each statement. Preferably, we include the data collected by professionals of each subject in scientific publications of reference.</p>
<p>Wikidata <strong>contains objective data</strong>, also called <strong>factual data,</strong> but <strong>not subjective data</strong>. Factual data refers to everything that is based on established facts, and that comes from an indisputable or consensual experience of reality. Subjective data, on the other hand, refers to what is based on feeling, personal opinion and a questionable experience of reality. Wikidata can say that the Linux kernel was created in 1991, but not that Linux is cool, because these appreciations are specific to each human being, and therefore subjective.</p>
<p></p>
<h3>Sources quality </h3>
<p>New statements on Wikidata should be verifiable. They should be supported by a source of information such as a book, scientific publication, or newspaper article. References are used to point to specific sources that back up the data provided in a statement. To get more information about a specific source you can refer to <a href="https://en.wikipedia.org/wiki/Wikipedia:Reliable_sources">Wikipedia's list of reliable sources</a></p>
<p>To read more about Wikidata's rules on sources you can refer to <a href="https://www.wikidata.org/wiki/Help:Sources">the corresponding help page.</a></p>
<h3><br /><br /></h3>
<p></p>