<p>Let's get started with an activity in which you manipulate directly Gitlab to create a web page, modify it and keep track of the modification history.</p>
<p>You will host your web page using Gitlab pages and use the Gitlab features to keep track of the modifications you've made on your web page.</p>
<ol>
<li>Login on <a href="https://gitlab.courses.opencraft.com " target="_blank" rel="noopener">gitlab.courses.opencraft.com</a> by clicking on "OpenEdX" and logging in with your credentials from the course</li>
<li>Create a <a href="https://gitlab.courses.opencraft.com/projects/new#create_from_template" target="_blank" rel="noopener">new projet from a template</a> and choose the Pages/Plain HTML template, give it a name and make it Public if you want to source code to be accessible to anyone. <br /><img width="800" src="/static/mod2-create_web_page_01.svg" alt="Screen shot of Create New Project interface." style="display: block; margin-left: auto; margin-right: auto;" /></li>
<li>Once your project is created, open the web IDE to modify the source code of the page by clicking the web IDE button<br /><img width="800" src="/static/mod2-create_web_page_02.svg" alt="Screenshot of Web IDE" style="display: block; margin-left: auto; margin-right: auto;" /></li>
<li>Once in the web IDE, you can modify the source code of the web page by editing the public/index.html file. Modify the title "Hello World" and the paragraph "This is a simple plain..." with your own title/description of whatever subject you want to discuss on your web page. You may want to <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started" target="_blank" rel="noopener">learn a little bit of HTML</a> to understand the given template and to organize content on your web page. <br /><img width="800" src="/static/mod2-create_web_page_03.svg" alt="Screenshot of Code editor with HTML code" style="display: block; margin-left: auto; margin-right: auto;" /></li>
<li>Go to the source control tab (on the left), describe your modification in the "commit message" field, click "Commit &amp; Push" and when you are asked "Commit to a new branch?" answer "No Use the current branch "master" "<br /><img width="800" src="/static/mod2-create_web_page_04.svg" alt="Screenshot of Commiting Code in the Code editor." style="display: block; margin-left: auto; margin-right: auto;" /></li>
<li>Go back to your project and under Settings &gt; Pages you will get the URL to access your web page (for example here https://remisharrock.gitlab.io/mywebsite ). You can access your web page by clicking this link.<br /><img width="800" src="/static/mod2-create_web_page_05.svg" alt="Screenshot of Pages Section" style="display: block; margin-left: auto; margin-right: auto;" /> </li>
<li>You can modify again your website with the IDE, save the change by doing again a "commit and push" and see the history of the modifications in the Repository &gt; Commits section of you project.<br /><img width="800" src="/static/mod2-create_web_page_06.svg" alt="Screenshot of Commits" style="display: block; margin-left: auto; margin-right: auto;" /></li>
</ol>
<p>For now we won't try to "undo" your changes to restore an older version, but it's absolutely possible to do that using mechanisms like "revert" or "reset" or "cherry-picking" or "merging new branches".</p>