<p>Once the information is collected, the goal of the activity will be to create or edit an element page on Wikidata to add or edit this information there.</p>
<h3></h3>
<h3>Reminder : How to contribute</h3>
<p>Look up the name of the project you are contributing to, or or any related items to see if they already exist on wikidata, if they don't you can <a href="https://www.wikidata.org/wiki/Special:NewItem">create them</a>.<br />You can either add a statement (1), add a value to a property that already have a value (2), or edit an existing triplet (3) to propose changes such as adding reference, adding qualifiers or correcting incorrect information.</p>
<p><img src="/static/screen_wikidata.png" alt="A screenshot of wikidata with red circles around the links to add a statement, to add a label and to edit an entry" style="display: block; margin-left: auto; margin-right: auto;" width="894" height="341" /></p>
<p style="text-align: center;"><em>Fig.5 </em>How to edit a Wikidata item page</p>
<p style="text-align: center;"></p>
<article class="xblock-render" lang="en">
<div class="xblock xblock-student_view xblock-student_view-html xmodule_display xmodule_HtmlBlock xblock-initialized" data-init="XBlockToXModuleShim" data-runtime-class="PreviewRuntime" data-runtime-version="1" data-block-type="html" data-usage-id="block-v1:MOOC-FLOSS+101+dev+type@html+block@32a55478cb404a8ba3cf8cb3a778ae74" data-request-token="08e7c83cf36311ee903e2e8911c596ca" data-graded="False" data-has-score="False">
<p>Once you have made your contribution, you can fill your contribution as well as the link where it can be found in the textbox below !</p>
</div>
</article>
<p style="text-align: left;"></p>