<script lang="typescript">
  import {Wrap, WrapModifier} from '$lib/components/wrap';
  import {Island, IslandModifier} from '$lib/components/island';
  import {AnimatedSvg} from '$lib/components/animated-svg';

  import {FragmentId} from '$lib/enums/fragment-ids';

  import downArrowSvg from '$assets/img/svg/doodles/down-arrow.svg?src';
</script>

<section class="u-margin--largest--inline u-margin--inline--palm">
  <div class="u-bgc--grey-dk u-text--center">
    <Island modifiers={[IslandModifier.Base, IslandModifier.SmallestPalm]}>
      <Wrap modifiers={[WrapModifier.Small]}>
        <h2 class="u-fs--h3 u-fs--h4">
          We’re passionate about Free/Libre and Open Source Software.
        </h2>

        <p>
          Free/Libre and Open Source Software (or ”FLOSS") is built on the principles of freedom,
          collaboration, and community. This course is a collection of the skills and expertise
          contributors to this course have acquired over years of working on FLOSS projects. We want
          to share this experience with you to give you a headstart on your journey into the world
          of open source.
        </p>

        <div class="u-text--center">
          <a href="#{FragmentId.Course}">
            <AnimatedSvg svg={downArrowSvg} />
            <div class="u-accessibly-hidden">Go to course information</div>
          </a>
        </div>
      </Wrap>
    </Island>
  </div>
</section>
