<section class="about">
  <h2>About This Course</h2>
  <p>Free/Libre and Open Source Software (or ”FLOSS") is built on the principles of freedom, collaboration, and community. This course is a collection of the skills and expertise contributors to this course have acquired over years of working on FLOSS projects. We want to share this experience with you to give you a headstart on your journey into the world of open source.</p>
</section>
