/*------------------------------------*\
    ANIMATED SVG
\*------------------------------------*/
.animated-svg {
  & path,
  & line {
    fill: none;
    transition: stroke-dashoffset 1s ease-in-out;
  }
}
