/*------------------------------------*\
    AVATAR
\*------------------------------------*/
.avatar {
  border: 2px solid var(--struct-clr-ntrl-min);
  display: inline-block;
  margin: 0 auto;
}
a.avatar {
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;

  &:hover,
  &:focus {
    filter: grayscale(0%);
  }
}


  .avatar__image {
    display: block;
  }
