/*------------------------------------*\
    HEADER
\*------------------------------------*/
.area-header {

  background-color: $clr-ntrl-max;

  .scrolled {
    background-color: $clr-ntrl-91;

    &.menu-closed {
      border-bottom: thin solid $clr-ntrl-82;
    }
  }
  position: sticky;
  top: 0;
  z-index: 10;
}

.area-header--portable {
  @include media-query(portable) {
    height: 80px;
  }
  @include media-query(palm) {
    @include u-padding--inline;
  }
}
