<script lang="ts">
  import {getModifierClassName} from '$lib/utils/components';
  import {IslandModifier} from './enums';

  export let modifiers: IslandModifier[] = [];
  let klass = '';
  export {klass as class};

  let baseClassName = 'island';
  let modifiersClassName = getModifierClassName(baseClassName, modifiers);

  const className = [
    modifiers.length === 0 || modifiers.includes(IslandModifier.Base) ? baseClassName : '',
    klass,
    modifiersClassName,
  ]
    .filter(Boolean)
    .join(' ');
  const props = {...$$restProps, class: className};
</script>

<div {...props} class={className}>
  <slot />
</div>
