/*------------------------------------*\
    DOCUMENT
\*------------------------------------*/
/**
 * This files holds styles for the base elements of the page, generally body and
 * html
 */
:root {
  // colors
  --struct-clr-base: #{$clr-base};

  --struct-clr-ntrl-min: #{$clr-ntrl-min};
  --struct-clr-ntrl-max: #{$clr-ntrl-max};

  --struct-clr-primary-dk: #{$clr-primary-dk};
  --struct-clr-primary: #{$clr-primary};
  --struct-clr-primary-lt: #{$clr-primary-lt};

  --struct-clr-grey-dk: #{$clr-grey-dk};
  --struct-clr-grey: #{$clr-grey};
  --struct-clr-grey-lt: #{$clr-grey-lt};

  // fonts
  --struct-font-stack-base: #{$font-base-stack};
  --struct-font-stack-alt: #{$font-alt-stack};

  // font sizes
  --struct-fs-base: #{$fs-base};

  --struct-fs-giga: 118px;
  --struct-fs-mega: 72px;
  --struct-fs-kilo: 48px;

  --struct-fs-h1: 80px;
  --struct-fs-h2: 62px;
  --struct-fs-h3: 44px;
  --struct-fs-h4: 38px;
  --struct-fs-h5: 32px;
  --struct-fs-h6: 23px;

  --struct-fs-milli: 17px;
  --struct-fs-micro: 15px;
  --struct-fs-nano: 12px;
}

/**
 * Fix fatty fonts in Chrome and Firefox on Mac:
 * http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 */
%fix-fatty-fonts {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Prevent Chrome and Safari from flashing when a user taps on mobile
 */
@if $responsive {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

html,
body,
button,
input,
select,
textarea {
  @extend %fix-fatty-fonts;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-base-stack;
  background-color: var(--struct-clr-ntrl-max);
}

/**
 * get 60fps scrolling by disabling pointer events:
 * http://www.thecssninja.com/javascript/pointer-events-60fps
 */
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
